husky {
  --n50: #fffbeb;
  --n100: #fef3c7;
  --n200: #fde58a;
  --n300: #fbd24e;
  --n400: #fabe25;
  --n500: #f49d0c;
  --n600: #d87607;
  --n700: #bc560a;
  --n800: #923f0e;
  --n900: #78340f;
  --n950: #451a03;
}
