html {
	font-size: 62.5%;
}

body {
	background-color: #232323;
	margin: 0;
	font-family: "Barlow", sans-serif;
}

h1 {
	font-size: 4rem;
	text-align: center;
	line-height: 1.1;
	text-transform: uppercase;
	color: white;
	background: steelblue;
	margin: 0;
	text-transform: uppercase;
	padding: 2rem 0;
	transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 900;
	color: steelblue;
	letter-spacing: .1rem;
	font-size: 1.6rem;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

button:hover {
	color: white;
	background: steelblue;
}

.shadow {
	box-shadow: 0rem .3rem 2rem rgba(0,0,0,1);
}

.square {
	width: 30%;
	background: white;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
	box-shadow: 0rem .3rem 2rem rgba(0,0,0,.8);
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.square:hover {
	box-shadow: 0rem .3rem 2.5rem rgba(0,0,0,.6);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.selected {
	color: white;
	background: steelblue;
}

#colorDisplay {
	font-size: 8rem;
	font-weight: 900;
}

#container {
	margin: 2rem auto;
	max-width: 60rem;
}

#message {
	font-size: 1.6rem;
	display: inline-block;
	width: 20%;
	transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
}

#stripe {
	background: white;
	height: 3rem;
	text-align: center;
	color: black;
}

@media screen and (orientation: portrait) {
	#container {
		max-width: 95%;
	}
}