{% extends "base.html" %}

{% block htmltitle %}
<title>{{config.site_name}}</title>
{% endblock %}

{% block tabs %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="home.css">

<section class="tx-container container-hero">
	<div class="md-grid md-typeset">
		<div class="tx-hero">
			<div class="tx-hero__image">
				<img src="{{ config.extra.home.image }}" class="avatar" draggable="false" alt="Justen">
			</div>
			<div class="tx-hero__content">
				<h1 class="title title-main front-title-bground">
					<span class="zigzag zigzag-play zigzag-title">Justen</span> Stall
				</h1>
				<p>{{ config.extra.home.description }}</p>
				<a href="https://linkedin.com/in/justenstall" title="LinkedIn" class="md-button md-button--primary">
					<span class="twemoji">
						{% include ".icons/fontawesome/brands/linkedin.svg" %}
					</span>
					LinkedIn
				</a>
				<a href="https://github.com/justenstall" title="GitHub" class="md-button md-button--primary">
					<span class="twemoji">
						{% include ".icons/fontawesome/brands/github.svg" %}
					</span>
					GitHub
				</a>
				<a href="https://cloud-native.slack.com/team/U026HE0JFEJ" title="Slack" class="md-button md-button--primary">
					<span class="twemoji">
						{% include ".icons/fontawesome/brands/slack.svg" %}
					</span>
					Slack
				</a>
			</div>
		</div>
	</div>
</section>

{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}