:root {
  /* --light-color: #00d2ff;
  --med-color: #006eff;
  --dark-color: #003aea;
  --single-color: #019eff;
  --transparent: rgba(0, 0, 0, 0);
  --glass: rgba(0, 0, 0, 0.65);
  --dark-glass: rgba(0, 0, 0, 0.65);
  --light-glass: rgba(255, 255, 255, 0.8);
  --gradient-new: linear-gradient(to top, #00c6fb 0%, #005bea 100%); */

  /* Main colors */
  --jstall-blue: hsl(225, 100%, 46%);
  --jstall-lightblue: hsl(195, 100%, 50%);

  /* Hue stripe to determine colors from */
  --md-hue: 215;

  /* Primary color shades */
  --md-primary-fg-color: var(--jstall-blue);
  --md-primary-fg-color--light: var(--jstall-lightblue);
  --md-primary-fg-color--dark: var(--jstall-blue);
  --md-primary-bg-color: hsla(0, 0%, 100%, 1);
  --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);

  /* Accent color shades */
  --md-accent-fg-color: var(--jstall-lightblue);
  --md-accent-fg-color--transparent: hsla(0, 0%, 100%, 0.8);
  --md-accent-bg-color: hsla(0, 0%, 100%, 1);
  --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);

  /* Fixes a bug where colored text is the default purple */
  --md-typeset-a-color: var(--md-primary-fg-color);
}

[data-md-color-scheme="slate"] {
  --md-typeset-a-color: var(--md-primary-fg-color--light);
}

.vertical-center {
  vertical-align: center;
}

.md-header__option .md-header__button svg {
  height: 1rem;
}
