:root {
  --light-color: #00d2ff;
  --med-color: #006eff;
  --dark-color: #003aea;
  --single-color: #019eff;
  --transparent: rgba(0, 0, 0, 0);
  --glass: rgba(0, 0, 0, 0.65);
  --dark-glass: rgba(0, 0, 0, 0.65);
  --light-glass: rgba(255, 255, 255, 0.8);
  --gradient-new: linear-gradient(to top, #00c6fb 0%, #005bea 100%);

  --md-primary-fg-color: var(--dark-color);
  --md-primary-fg-color--light: var(--light-color);
  --md-primary-fg-color--dark:  var(--dark-color);
}
